.urban-home__layout {
  display: grid;
  display: grid;
  grid-template-columns: 330px 1fr;
  gap: 0;
  min-height: 100vh;
  align-items: start;
}

.urban-home__content {
  min-width: 0;
  padding: 24px;
}

.urban-home__title {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: start;
  margin: 0;
  margin-left: -50px;
}

.urban-home__subtitle {
  font-size: 0.8rem;
  text-align: start;
  color: #444;
  margin:0;
  margin-bottom: 20px;
  margin-left: -50px;
}


.urban-cards__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.urban-cards__action-card {
  min-height: 30px;
  min-width: 200px;
  padding: 1.5rem 2rem;
  background: #d9d9d9;
  border-radius: 17px;
  color: #111;
  font-size: 1.7rem;
  font-weight: 500;
  transition: 0.18s ease;
}

.urban-cards__action-card--active {
  min-height: 30px;
  min-width: 200px;
  padding: 1.5rem 2rem;
  background: #1a3cff;
  border-radius: 17px;
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
  transition: 0.18s ease;
}

.urban-cards__action-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  background: #d1d1d1;
  color:black
}

.urban-cards__action-card--active:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  background: #1838eb;
  color:white
}