.map-container {
    width: calc(100% - 300px); 
    height: 100vh;
    float: left;
}

.leaflet-control-attribution {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}