.urban-register__layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  width: 100%;
  min-height: calc(100vh - 220px);
  background: #f3f3f3;
}

.urban-register__content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.urban-register__content {
  width: 100%;
  max-width: 900px;
  /* controla el ancho del contenido */
  padding: 40px 0;
  border-left: 3px solid #111;
  text-align: center;
}

.urban-register__title {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
}

.urban-register__subtitle {
  color: #444;
  margin-bottom: 40px;
}

.urban-register__form {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: stretch;
}

.urban-register__group {
  width: 100%;
  max-width: 700px; 
  margin: 0 auto;   
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.urban-register__label {
  font-size: 1.2rem;
  color: #111;
}

.urban-register__input {
  width: 100%;
  max-width: 1400px;
  height: 74px;
  border: 3px solid #111;
  border-radius: 24px;
  padding: 0 28px;
  font-size: 1.1rem;
  background: white;
  box-sizing: border-box;
  outline: none;
}

.urban-register__input::placeholder {
  color: #999;
}

.urban-register__actions {
  display: flex;
  width: 100%;
  gap: 50px;
  margin-top: 18px;
  max-width: 700px; 
  margin: 0 auto;  
}

.urban-register__button {
  flex: 1;
  min-width: 220px;
  height: 78px;
  border: none;
  border-radius: 22px;
  background: #d9d9d9;
  color: #111;
  font-size: 1.1rem;
  cursor: pointer;
}

.urban-register__button:hover {
  opacity: 0.92;
}