.urban-sidebar__sidebar {
  background: #f7f7f7;
  width: 260px;
  min-height: 100%;
  float: left;
  margin-left: 20px;
  padding-top: 30px;
}

.urban-sidebar__sidebar-title {
  background: white;
  color: #1a3cff;
  padding: 15px;
  font-weight: bold;
}

.urban-sidebar__sidebar-title--active {
  background: #1a3cff;
  color: white;
  padding: 15px;
  font-weight: bold;
}

.urban-sidebar__sidebar-title:hover {
  background: #1a3cff;
  color: white;
  padding: 15px;
  font-weight: bold;
}

.urban-sidebar__nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 30px;

}



